In [3]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep

### Task 1

In [2]:
chromedriver_path = r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.naukri.com/")


skill=webdrivers.find_element_by_css_selector("#qsb-keyword-sugg")
skill.send_keys("Data Analyst")
location=webdrivers.find_element_by_css_selector("#qsb-location-sugg")
location.send_keys("Bangalore")
search=webdrivers.find_element_by_css_selector("#root > div.naukriHomePageContainer > div.topSection > section > div > form > div.search-btn > button")
search.click()

In [4]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

job_tags=webdrivers.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:10]
company_tags=webdrivers.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
location_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
exp_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="a15269c9-2948-4874-a150-c3799f5ea5a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="027e5da6-76a5-4063-921e-f0bb4209f953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="50b32787-cb5d-4e87-a3c2-a8cdcaadeb36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="4c679ee7-2eb2-441e-b8c5-7a634d0da940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="d4b9d100-1d80-4fd5-85f9-3efd3694e7da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="1f6992e8-5e5e-49df-adbf-f9c31472603e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="93eec389-296d-47e3-8d1f-07cccccbda87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="9d53ec27-3d36-4a87-ab38-7a608eaf3746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="ccb0ceb8-7f87-467c-839d-741a3c03854c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7359e06ed56931637116649ff27c642", element="e77125cd-7577-4e49-8e68-6dbad26b66b2")>]

In [5]:
for i in range(0,10):
    job_tag=job_tags[i].text
    job_title.append(job_tag)
    company_tag=company_tags[i].text
    company_name.append(company_tag)
    location_tag=location_tags[i].text
    job_location.append(location_tag)
    exp_tag=exp_tags[i].text
    exp_req.append(exp_tag)

In [6]:
Job_details=pd.DataFrame({})
Job_details["Job Title"]=job_title
Job_details["Company Name"]=company_name
Job_details["Job Location"]=job_location
Job_details["Experience Required"]=exp_req

In [7]:
Job_details

,Job Title,Company Name,Job Location,Experience Required
0,Data Analyst,"RedLock, Inc",Bangalore/Bengaluru,0-0 Yrs
1,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
2,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
3,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst,WEIWO Communication Pvt. Ltd.,Bangalore/Bengaluru(Ulsoor),5-8 Yrs
9,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs

__ __

### Task 2

In [ ]:
chromedriver_path = r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.naukri.com/")



skill=webdrivers.find_element_by_css_selector("#qsb-keyword-sugg")
skill.send_keys("Data Scientist")
location=webdrivers.find_element_by_css_selector("#qsb-location-sugg")
location.send_keys("Bangalore")
search=webdrivers.find_element_by_css_selector("#root > div.naukriHomePageContainer > div.topSection > section > div > form > div.search-btn > button")
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

job_tags=webdrivers.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:10]
company_tags=webdrivers.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
location_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
exp_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:10]

In [ ]:
for i in range(0,10):
    
    job_tag=job_tags[i].text
    job_title.append(job_tag)
    company_tag=company_tags[i].text
    company_name.append(company_tag)
    location_tag=location_tags[i].text
    job_location.append(location_tag)
    exp_tag=exp_tags[i].text
    exp_req.append(exp_tag)

In [ ]:
Job_details=pd.DataFrame({})
Job_details["Job Title"]=job_title
Job_details["Company Name"]=company_name
Job_details["Job Location"]=job_location
Job_details["Experience Required"]=exp_req

In [ ]:
Job_details

#### Clicking on the Job

In [ ]:
to_click=webdrivers.find_element_by_xpath("//a[@class='title fw500 ellipsis']")
to_click.click()

In [ ]:
data4=webdrivers.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[2]")

In [ ]:
data5=webdrivers.find_element_by_xpath("//section[@class='job-desc']")

In [ ]:
data5=webdrivers.find_elements_by_class_name("job-desc")

__ __

### Task 3

In [ ]:
chromedriver_path = r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.naukri.com/")



skill=webdrivers.find_element_by_css_selector("#qsb-keyword-sugg")
skill.send_keys("Data Scientist")
#location=webdrivers.find_element_by_css_selector("#qsb-location-sugg")
#location.send_keys("Bangalore")
search=webdrivers.find_element_by_css_selector("#root > div.naukriHomePageContainer > div.topSection > section > div > form > div.search-btn > button")
search.click()
sleep(3)

In [ ]:
# selecting filter for location
loc_filter=webdrivers.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in loc_filter:
    if i.text=="Delhi / NCR":
        i.click()
        break
sleep(3)

In [ ]:
# Salary filter 

sal_filter=webdrivers.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in sal_filter:
    if i.text=="3-6 Lakhs":
        i.click()
        break

In [ ]:
# Scraping data for the first 10 jobs.

job_title=[]
job_location=[]
company_name=[]
exp_req=[]

job_tags=webdrivers.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:10]
company_tags=webdrivers.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
location_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
exp_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:10]

In [ ]:
for i in range(0,10):
    
    job_tag=job_tags[i].text
    job_title.append(job_tag)
    company_tag=company_tags[i].text
    company_name.append(company_tag)
    location_tag=location_tags[i].text
    job_location.append(location_tag)
    exp_tag=exp_tags[i].text
    exp_req.append(exp_tag)

In [ ]:
Job_details=pd.DataFrame({})
Job_details["Job Title"]=job_title
Job_details["Company Name"]=company_name
Job_details["Job Location"]=job_location
Job_details["Experience Required"]=exp_req

In [ ]:
Job_details

__ __

### Task 4

In [4]:
chromedriver_path = r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.glassdoor.co.in/index.htm")

In [5]:
go_sign_in=webdrivers.find_element_by_class_name("locked-home-sign-in")
go_sign_in.click()
sleep(5)

In [6]:
# Signing in to Glassdoor

email=webdrivers.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[1]/div/div/input")
email.send_keys("kaushikbhugarv@gmail.com")

password=webdrivers.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[2]/div/div/input")
password.send_keys("BK9873194546kb!!@@")

sign_in=webdrivers.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[3]/div[1]/button")
sign_in.click()

sleep(3)

In [7]:
# Entering job as Data Scientist and location as Noida

job=webdrivers.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[1]/div/div/input")
job.send_keys("Data Scientist")

location=webdrivers.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[3]/div/input")
location.send_keys("Noida")

search=webdrivers.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/button")
search.click()
sleep(3)

In [12]:
# Scraping Data required.
company_name = []
no_of_day=[]
rating_given=[]

company=webdrivers.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
a_rat=webdrivers.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
no_days=webdrivers.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")


for i in range(0,15):
    c=company[i].text
    company_name.append(c)
    r=a_rat[i].text
    rating_given.append(r)
    d=no_days[i].text
    no_of_day.append(d)

In [13]:
res = [str(k or "No Rating found") for k in rating_given]

In [14]:
Job_details=pd.DataFrame({})
Job_details["Company Name"]=company_name
Job_details["No. of days since job posted"]=no_of_day
Job_details["Rating"]=res

In [15]:
Job_details

,Company Name,No. of days since job posted,Rating
0,BlackRock,18d,4.0
1,Elsevier,12d,4.3
2,Adobe,1d,4.4
3,Ank Aha,27d,4.0
4,American Express Global Business Travel,5d,3.9
5,Boston Consulting Group,13d,4.0
6,Techlive,5d,5.0
7,Biz2Credit Inc,7d,3.8
8,JLL,24h,4.0
9,Ciena,5d,4.3
10,Srijan Technologies Pvt Ltd,4d,3.9
11,Fitfyles,27d,No Rating found
12,Mahajan Imaging,27d,4.0
13,MasterCard,2d,4.3
14,NatWest Group,15d,3.9

__ __

### Task 5

In [2]:
chromedriver_path = r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.glassdoor.co.in/index.htm")
sleep(5)

In [3]:
go_sign_in=webdrivers.find_element_by_class_name("locked-home-sign-in")
go_sign_in.click()
sleep(3)

In [4]:
# Signing in to Glassdoor

email=webdrivers.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[1]/div/div/input")
email.send_keys("kaushikbhugarv@gmail.com")

password=webdrivers.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[2]/div/div/input")
password.send_keys("BK9873194546kb!!@@")

sign_in=webdrivers.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[3]/div[1]/button")
sign_in.click()

sleep(3)

In [5]:
job=webdrivers.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[1]/div/div/input")
job.send_keys("Data Scientist")

location=webdrivers.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[3]/div/input")
location.send_keys("Noida")

search=webdrivers.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/button")
search.click()
sleep(3)

In [6]:
from selenium.common.exceptions import NoSuchElementException

In [7]:
# Scraping Data required.
company_name = []
rating_given=[]
salary=[]


company=webdrivers.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
a_rat=webdrivers.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")

for i in range(0,10):
    try:
        sal=webdrivers.find_elements_by_xpath("//span[@class='css-1imh2hq e1wijj242']")
        s=sal[i].text
        salary.append(s)
        
    except NoSuchElementException as e:
        salary.append("No Salary found")
        
        

for i in range(0,15):
    c=company[i].text
    company_name.append(c)
    r=a_rat[i].text
    rating_given.append(r)
    #s=sal[i].text
    #salary.append(s)

In [8]:
salary

['₹592K - ₹737K (Glassdoor Est.)',
 '₹394K - ₹608K (Glassdoor Est.)',
 '₹384K - ₹675K (Glassdoor Est.)',
 '₹495K - ₹841K (Glassdoor Est.)',
 '₹168K - ₹500K (Glassdoor Est.)',
 '₹400K - ₹808K (Glassdoor Est.)',
 '₹223K - ₹621K (Glassdoor Est.)',
 '₹258K - ₹800K (Glassdoor Est.)',
 '₹384K - ₹675K (Glassdoor Est.)',
 '₹279K - ₹382K (Glassdoor Est.)']

In [10]:
# Treating missing ratings if any.
res = [str(k or "No Rating found") for k in rating_given]

In [11]:
# Extracting Minimum and Maximum salary from combined text

min_=[]
max_=[]

for m in salary:
    min_.append(m.split(' ')[0])
    max_.append(m.split(' ')[2])

In [12]:
# Removing special characters from the extracted salaries.

max_salary=[]
min_salary=[]

for (i,j) in zip(max_,min_):
    for char in "₹K,":
        i=i.replace(char,"")
        j=j.replace(char,"")
    max_salary.append(i)
    min_salary.append(j)

In [13]:
# Calculating Average Salaries.

avg_salary=[]
for (i,j) in zip(min_salary,max_salary):
    avg=((float(i)+float(j))/2)
    avg_salary.append(avg)

In [14]:
# Creating Dataframe.

In [20]:
Job_details=pd.DataFrame({})
Job_details["Company Name"]=company_name
Job_details["Rating"]=res
Job_details["Maximum Salary"]=max_salary
Job_details["Minimum Salary"]=min_salary
Job_details["Average Salary"]=avg_salary

In [21]:
Job_details

,Company Name,Rating,Maximum Salary,Minimum Salary,Average Salary
0,BlackRock,4.0,737,592,664.5
1,Elsevier,4.3,608,394,501.0
2,Techlive,5.0,675,384,529.5
3,Adobe,4.4,841,495,668.0
4,Biz2Credit Inc,3.8,500,168,334.0
5,WishFin,3.8,808,400,604.0
6,abc consultants,4.2,621,223,422.0
7,Priority Vendor,3.7,800,258,529.0
8,Gauge Data Solutions,3.1,675,384,529.5
9,Healtheoz India,4.8,382,279,330.5
10,Microsoft,4.4,808,400,604.0
11,Salasar New Age Technologies,No Rating found,817,747,782.0
12,SearchUrCollege,No Rating found,808,400,604.0
13,American Express Global Business Travel,3.9,878,720,799.0
14,xtLytics,3.0,1000,560,780.0

__ __

### Task 6

In [ ]:
chromedriver_path=r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers= webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.flipkart.com/")

In [ ]:
search_field=webdrivers.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field.send_keys("sunglasses")

search_btn=webdrivers.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [ ]:
brand=webdrivers.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [ ]:
for i in range(len(brand)):
    print(brand[i].text)

In [ ]:
description=webdrivers.find_elements_by_xpath("//a[@class='IRpwTa']")

In [ ]:
for i in range(len(description)):
    print(description[i].text)

In [ ]:
price=webdrivers.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
for i in range(len(price)):
    print(price[i].text)

In [ ]:
discount=webdrivers.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

In [ ]:
for i in range(len(discount)):
    print(discount[i].text)

In [ ]:
next_page=webdrivers.find_element_by_xpath("//a[@class='_1LKTO3']")
#n_p=next_page.get_attribute('href')
for i in range(1,5):
    N_p='https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    sleep(2)
    webdrivers.get(N_p)

In [ ]:
next_page=webdrivers.find_element_by_xpath("//a[@class='_1LKTO3']")
n_p=next_page.get_attribute('href')
#webdrivers.get(n_p)
n_p

In [ ]:
N_p='https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+'5'

In [ ]:
webdrivers.get(N_p)

In [ ]:
brand_name=[]

for i in range(len(brand)):
    brand_name.append(brand)
    if len(brand_name)<100:
        next_page.click()

In [ ]:
len(brand_name)

In [ ]:
def flipkart(url):
    name=[]
    chromedriver_path=r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
    webdrivers= webdriver.Chrome(executable_path=chromedriver_path)
    sleep(2)
    webdrivers.get(url)
    sleep(2)
    
    search_field=webdrivers.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
    search_field.send_keys("sunglasses")
    
    search_btn=webdrivers.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_btn.click()
    
    #next_page=webdrivers.find_element_by_xpath("//a[@class='_1LKTO3']")
    #n_p=next_page.get_attribute('href')
    brand=webdrivers.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in range(len(brand)):
        name.append(brand[j].text)
        
    next_p("https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=")

In [ ]:
def next_p(link):
    for k in range(2,5):
        N_p=link+str(i)
        webdrivers.get(N_p)
        if len(name)<100:
            for m in range(len(brand)):
                name.append(brand)

__ __

### Task 10

In [1]:
from selenium.common.exceptions import NoSuchElementException

In [4]:
chromedriver_path = r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.amazon.in/")

In [5]:
search=webdrivers.find_element_by_id("twotabsearchtextbox")
search.clear()
search.send_keys("Laptops")
search_click=webdrivers.find_element_by_xpath("//span[@id='nav-search-submit-text']")
search_click.click()

In [6]:
# Applying filter 

#i7

filter_1=webdrivers.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_1:
    if i.text=="Intel Core i7":
        print(i.text)
        i.click()
        break

Intel Core i7

In [7]:
# Applying filter 

#i9

filter_2=webdrivers.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_2:
    if i.text=="Intel Core i9":
        print(i.text)
        i.click()
        break

Intel Core i9

In [8]:
Title=[]
title=webdrivers.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title[:10]:
    Title.append(i.text)

In [9]:
Price=[]

prices=webdrivers.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    Price.append(i.text)

In [10]:
ratings=[]

pages=webdrivers.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
PG=[]
for i in pages[:10]:
    PG.append(i.get_attribute('href'))
for j in PG:
    webdrivers.get(j)
    try:
        star=webdrivers.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        star.click()
        rating=webdrivers.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        ratings.append(rating.text)
    except NoSuchElementException as e:
        ratings.append("No ratings found")

In [11]:
records=pd.DataFrame({'Title':Title,
                 'Price':Price,
                 'Ratings':ratings})
print(records)

                                               Title     Price  \
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    86,690
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    95,993
2  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  5,22,077
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    79,999
4  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    76,500
5  (Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...    40,790
6  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...    77,990
7  Dell Latitude 3410 14 Inch HD Intel Core i7 10...    88,990
8  LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...    40,990
9  Mi Notebook Horizon Edition 14 Intel Core i7-1...    58,999

            Ratings
0      4.2 out of 5
1      4.4 out of 5
2      3.9 out of 5
3  No ratings found
4      4.6 out of 5
5  No ratings found
6      4.4 out of 5
7  No ratings found
8      3.5 out of 5
9      4.4 out of 5