In [1]:
# Importing Libraries

from bs4 import BeautifulSoup
import requests

## Task 1

In [8]:
def find_header(url):
    page= requests.get(url)
    if page.status_code == 200:
        data= BeautifulSoup(page.content, 'html.parser')
        header  = data.find_all('span',class_='mw-headline')
        header_e=[]
        for i in header:
            header_e.append(i.text.replace('\n',''))
        header_e
        return(header_e)
    else :
        return ("Permission denied")

In [9]:
url_entered=input("Enter your Url -> ")
print("We have found - \n")
print(find_header(url_entered))

Enter your Url -> https://en.wikipedia.org/wiki/Main_Page
We have found -

["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "From today's featured list", "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

## Task 2

In [10]:
def imbd(url):
    movie_names=[]
    year=[]
    ratings=[]
    
    page2 = requests.get(url)
    data2 = BeautifulSoup(page2.content, 'html.parser')
    movie = data2.find_all('h3', class_='lister-item-header')
    for i in range(1,100):
        movie_name=movie[i].find_all('a')
        a=movie_name[0].text
        movie_names.append(a)
        movie_year=movie[i].find_all(class_='lister-item-year text-muted unbold')
        b=movie_year[0].text
        year.append(b)
    rating = data2.find_all('div',class_='ipl-rating-star small')
    for j in range (1,100):
        ff=rating[j].find_all('span', class_="ipl-rating-star__rating")
        c=ff[0].text
        ratings.append(c)
        
    df=pd.DataFrame({'Movie Name':movie_names, "Year":year, "Ratings":ratings})
    df.to_csv(r"C:\Users\91987\Desktop\Flip Robo\Web Scrappinng/Imdb.csv")
    return(df)

In [11]:
imbd("https://www.imdb.com/list/ls091520106/")

                Movie Name    Year Ratings
0            The Godfather  (1972)     9.2
1   The Godfather: Part II  (1974)       9
2          The Dark Knight  (2008)       9
3             12 Angry Men  (1957)       9
4         Schindler's List  (1993)     8.9
..                     ...     ...     ...
94      North by Northwest  (1959)     8.3
95      A Clockwork Orange  (1971)     8.3
96                  Snatch  (2000)     8.3
97                  Amélie  (2001)     8.3
98                 The Kid  (1921)     8.3

[99 rows x 3 columns]

## Task 3

In [12]:
def imbd_indian(url):
    movie_names=[]
    year=[]
    ratings=[]
    
    page2 = requests.get(url)
    data2 = BeautifulSoup(page2.content, 'html.parser')
    movie = data2.find_all('h3', class_='lister-item-header')
    for i in range(1,100):
        movie_name=movie[i].find_all('a')
        a=movie_name[0].text
        movie_names.append(a)
        movie_year=movie[i].find_all(class_='lister-item-year text-muted unbold')
        b=movie_year[0].text
        year.append(b)
    rating = data2.find_all('div',class_='ipl-rating-star small')
    for j in range (1,100):
        ff=rating[j].find_all('span', class_="ipl-rating-star__rating")
        c=ff[0].text
        ratings.append(c)
        
    df=pd.DataFrame({'Movie Name':movie_names, "Year":year, "Ratings":ratings})
    df.to_csv(r"C:\Users\91987\Desktop\Flip Robo\Web Scrappinng/Imdb_Indian.csv")
    return(df)

In [13]:
imbd_indian("https://www.imdb.com/list/ls056092300/")

                           Movie Name    Year Ratings
0                              Iruvar  (1997)     8.5
1                     Kaagaz Ke Phool  (1959)       8
2   Lagaan: Once Upon a Time in India  (2001)     8.1
3                     Pather Panchali  (1955)     8.6
4                           Charulata  (1964)     8.3
..                                ...     ...     ...
94                        Apur Sansar  (1959)     8.5
95                        Kanchivaram  (2008)     8.1
96                    Monsoon Wedding  (2001)     7.3
97                              Black  (2005)     8.2
98                            Deewaar  (1975)     8.1

[99 rows x 3 columns]

## Task 5

In [17]:
def Odi_team_men(url):
    matc=[]
    points=[]
    ratingss=[]
    
    page4= requests.get(url)
    data4 = BeautifulSoup(page4.content, 'html.parser')
    team=data4.find_all(class_='u-hide-phablet')
    team_name=[]
    for i in range(0,10):
        team_name.append(team[i].text)
    print("Top 10 Odi team in Men ->")
    print(team_name)
    print("---------------------------------------------")
    
    matches_top=data4.find_all(class_='rankings-block__banner--matches')
    matc.append(matches_top[0].text)
    #print(matc)
    
    points_top=data4.find(class_="rankings-block__banner--points")
    points.append(points_top.text)
    #print(points_top.text)
    
    ratings_top=data4.find_all(class_='rankings-block__banner--rating u-text-right')
    ratingss.append(ratings_top[0].text.strip())
    #print(ratings_top)
    
    match=data4.find_all(class_="table-body__cell u-center-text")
    match
    
    for i in range(0,18):
        if i %2 != 0:
            points.append(match[i].text)
        else:
            matc.append(match[i].text)
    print("Top 10 Odi team Match in Men ->")
    print(matc)
    print("---------------------------------------------")
    print("Top 10 Odi team Points in Men ->")
    print(points)
    print("---------------------------------------------")
    ratings=data4.find_all(class_='table-body__cell u-text-right rating')
    
    for i in range (0,9):
        ratingss.append(ratings[i].text)
    print("Top 10 Odi team Ratings in Men")
    print(ratingss)

In [22]:
Odi_team_men("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
#print(Odi_team_men(url_entered))

Top 10 Odi team in Men ->
['England', 'India', 'New Zealand', 'Australia', 'South Africa', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'West Indies', 'Afghanistan']
---------------------------------------------
Top 10 Odi team Match in Men ->
['45', '53', '35', '39', '31', '35', '40', '42', '49', '31']
---------------------------------------------
Top 10 Odi team Points in Men ->
['5,472', '6,275', '4,137', '4,344', '3,345', '3,490', '3,567', '3,372', '3,802', '1,844']
---------------------------------------------
Top 10 Odi team Ratings in Men
['122', '118', '118', '111', '108', '100', '89', '80', '78', '59']

## Task 5 ii)

In [23]:
def Odi_Men_Batsmen(url):
    players=[]
    teams=[]
    ratings=[]
    
    page4= requests.get(url)
    data4 = BeautifulSoup(page4.content, 'html.parser')
    player_top=data4.find(class_='rankings-block__banner--name-large')
    players.append(player_top.text)
    player=data4.find_all(class_='table-body__cell rankings-table__name name')
    for i in range(0,9):
        players.append(player[i].text.strip())
    print("Top 10 Batsmen are -> \n")
    print(players)
    print("---------------------------------------------------\n")
    
    team_top=data4.find(class_='rankings-block__banner--nationality')
    teams.append(team_top.text.strip())
    team=data4.find_all(class_="table-body__logo-text")
    for i in range(0,9):
        teams.append(team[i].text)
    print("Top 10 Batsmen's Teams are -> \n")                    
    print(teams)
    print("---------------------------------------------------\n")
    
    rating_top=data4.find(class_="rankings-block__banner--rating")
    ratings.append(rating_top.text)
    rating=data4.find_all(calss_="table-body__cell rating")
    rating=data4.find_all(class_="table-body__cell rating")
    for i in range(0,9):
        ratings.append(rating[i].text)
    print("Top 10 Batsmen's ratings are ->")            
    print(ratings)
    print("---------------------------------------------------")

In [24]:
Odi_Men_Batsmen("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

Top 10 Batsmen are ->

['Virat Kohli', 'Babar Azam', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Francois du Plessis', 'Jonny Bairstow', 'David Warner', 'Shai Hope', 'Kane Williamson']
---------------------------------------------------

Top 10 Batsmen's Teams are ->

['IND', 'PAK', 'IND', 'NZ', 'AUS', 'SA', 'ENG', 'AUS', 'WI', 'NZ']
---------------------------------------------------

Top 10 Batsmen's ratings are ->
['868', '837', '836', '810', '791', '790', '775', '773', '773', '757']
---------------------------------------------------

## Task 5 iii)

In [25]:
def Odi_Men_Bowler(url):
    players=[]
    teams=[]
    ratings=[]
    
    page4= requests.get(url)
    data4 = BeautifulSoup(page4.content, 'html.parser')
    player_top=data4.find(class_='rankings-block__banner--name-large')
    players.append(player_top.text)
    player=data4.find_all(class_='table-body__cell rankings-table__name name')
    for i in range(0,9):
        players.append(player[i].text.strip())
    print("Top 10 Bowlers are -> \n")
    print(players)
    print("---------------------------------------------------\n")
    
    team_top=data4.find(class_='rankings-block__banner--nationality')
    teams.append(team_top.text.strip())
    team=data4.find_all(class_="table-body__logo-text")
    for i in range(0,9):
        teams.append(team[i].text)
    print("Top 10 Bowlers's Teams are -> \n")                    
    print(teams)
    print("---------------------------------------------------\n")
    
    rating_top=data4.find(class_="rankings-block__banner--rating")
    ratings.append(rating_top.text)
    rating=data4.find_all(calss_="table-body__cell rating")
    rating=data4.find_all(class_="table-body__cell rating")
    for i in range(0,9):
        ratings.append(rating[i].text)
    print("Top 10 Bowlers's ratings are ->")            
    print(ratings)
    print("---------------------------------------------------")

In [26]:
Odi_Men_Bowler("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

Top 10 Bowlers are ->

['Trent Boult', 'Mujeeb Ur Rahman', 'Jasprit Bumrah', 'Mehedi Hasan', 'Chris Woakes', 'Kagiso Rabada', 'Josh Hazlewood', 'Matt Henry', 'Mohammad Amir', 'Pat Cummins']
---------------------------------------------------

Top 10 Bowlers's Teams are ->

['NZ', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'NZ', 'PAK', 'AUS']
---------------------------------------------------

Top 10 Bowlers's ratings are ->
['742', '708', '697', '678', '672', '665', '660', '653', '647', '646']
---------------------------------------------------

## Task 6

In [27]:
def Odi_Women_team(url):
    matc=[]
    points=[]
    ratingss=[]
    
    page4= requests.get(url)
    data4 = BeautifulSoup(page4.content, 'html.parser')
    team=data4.find_all(class_='u-hide-phablet')
    team_name=[]
    for i in range(0,10):
        team_name.append(team[i].text)
    print("Top 10 Odi team in Women ->")
    print(team_name)
    print("---------------------------------------------\n")
    
    matches_top=data4.find_all(class_='rankings-block__banner--matches')
    matc.append(matches_top[0].text)
    #print(matc)
    
    points_top=data4.find(class_="rankings-block__banner--points")
    points.append(points_top.text)
    #print(points_top.text)
    
    ratings_top=data4.find_all(class_='rankings-block__banner--rating u-text-right')
    ratingss.append(ratings_top[0].text.strip())
    #print(ratings_top)
    
    match=data4.find_all(class_="table-body__cell u-center-text")
    match
    
    for i in range(0,18):
        if i %2 != 0:
            points.append(match[i].text)
        else:
            matc.append(match[i].text)
    print("Top 10 Odi team Match in Women ->")
    print(matc)
    print("---------------------------------------------\n")
    print("Top 10 Odi team Points in Women ->")
    print(points)
    print("---------------------------------------------\n")
    ratings=data4.find_all(class_='table-body__cell u-text-right rating')
    
    for i in range (0,9):
        ratingss.append(ratings[i].text)
    print("Top 10 Odi team Ratings in Women")
    print(ratingss)

In [29]:
Odi_Women_team("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

Top 10 Odi team in Women ->
['Australia', 'South Africa', 'England', 'India', 'New Zealand', 'West Indies', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Ireland']
---------------------------------------------

Top 10 Odi team Match in Women ->
['15', '24', '17', '20', '18', '12', '15', '5', '11', '2']
---------------------------------------------

Top 10 Odi team Points in Women ->
['2,436', '2,828', '1,993', '2,226', '1,696', '1,025', '1,101', '306', '519', '25']
---------------------------------------------

Top 10 Odi team Ratings in Women
['162', '118', '117', '111', '94', '85', '73', '61', '47', '13']

## Task 6 ii)

In [30]:
def Odi_Women_player(url):
    players=[]
    teams=[]
    ratings=[]
    
    page4= requests.get(url)
    data4 = BeautifulSoup(page4.content, 'html.parser')
    player_top=data4.find(class_='rankings-block__banner--name-large')
    players.append(player_top.text)
    player=data4.find_all(class_='table-body__cell rankings-table__name name')
    for i in range(0,9):
        players.append(player[i].text.strip())
    print("Top 10 Women Player are -> \n")
    print(players)
    print("---------------------------------------------------\n")
    
    team_top=data4.find(class_='rankings-block__banner--nationality')
    teams.append(team_top.text.strip())
    team=data4.find_all(class_="table-body__logo-text")
    for i in range(0,9):
        teams.append(team[i].text)
    print("Top 10 Women Player's Teams are -> \n")                    
    print(teams)
    print("---------------------------------------------------\n")
    
    rating_top=data4.find(class_="rankings-block__banner--rating")
    ratings.append(rating_top.text)
    rating=data4.find_all(calss_="table-body__cell rating")
    rating=data4.find_all(class_="table-body__cell rating")
    for i in range(0,9):
        ratings.append(rating[i].text)
    print("Top 10 Women Player's ratings are ->")            
    print(ratings)
    print("---------------------------------------------------")

In [31]:
Odi_Women_player("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

Top 10 Women Player are ->

['Tammy Beaumont', 'Lizelle Lee', 'Meg Lanning', 'Stafanie Taylor', 'Alyssa Healy', 'Amy Satterthwaite', 'Smriti Mandhana', 'Mithali Raj', 'Ellyse Perry', 'Natalie Sciver']
---------------------------------------------------

Top 10 Women Player's Teams are ->

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'AUS', 'ENG']
---------------------------------------------------

Top 10 Women Player's ratings are ->
['765', '758', '749', '746', '741', '740', '710', '709', '691', '685']
---------------------------------------------------

## Task 6 iii)

In [32]:
def Odi_Women_Allrounder(url):
    players=[]
    teams=[]
    ratings=[]
    
    page4= requests.get(url)
    data4 = BeautifulSoup(page4.content, 'html.parser')
    player_top=data4.find(class_='rankings-block__banner--name-large')
    players.append(player_top.text)
    player=data4.find_all(class_='table-body__cell rankings-table__name name')
    for i in range(0,9):
        players.append(player[i].text.strip())
    print("Top 10 Woemn Allrounder are -> \n")
    print(players)
    print("---------------------------------------------------\n")
    
    team_top=data4.find(class_='rankings-block__banner--nationality')
    teams.append(team_top.text.strip())
    team=data4.find_all(class_="table-body__logo-text")
    for i in range(0,9):
        teams.append(team[i].text)
    print("Top 10 Woemn Allrounder's Teams are -> \n")                    
    print(teams)
    print("---------------------------------------------------\n")
    
    rating_top=data4.find(class_="rankings-block__banner--rating")
    ratings.append(rating_top.text)
    rating=data4.find_all(calss_="table-body__cell rating")
    rating=data4.find_all(class_="table-body__cell rating")
    for i in range(0,9):
        ratings.append(rating[i].text)
    print("Top 10 Woemn Allrounder's ratings are ->")            
    print(ratings)
    print("---------------------------------------------------")

In [33]:
Odi_Women_Allrounder("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

Top 10 Woemn Allrounder are ->

['Ellyse Perry', 'Marizanne Kapp', 'Stafanie Taylor', 'Natalie Sciver', 'Deepti Sharma', 'Jess Jonassen', 'Sophie Devine', 'Dane van Niekerk', 'Katherine Brunt', 'Ashleigh Gardner']
---------------------------------------------------

Top 10 Woemn Allrounder's Teams are ->

['AUS', 'SA', 'WI', 'ENG', 'IND', 'AUS', 'NZ', 'SA', 'ENG', 'AUS']
---------------------------------------------------

Top 10 Woemn Allrounder's ratings are ->
['460', '418', '410', '349', '343', '301', '274', '243', '236', '223']
---------------------------------------------------

## Task 8

In [36]:
def forecast(url):
    periodss=[]
    shrt_descs=[]
    temps=[]
    temp_high_=[]
    temp_low_=[]
    detailed_forecast_periods=[]
    detailed_forecast_descrips=[]
    
    page8=requests.get(url)
    data8 = BeautifulSoup(page8.content, 'html.parser')
    
    period=data8.find_all(class_="period-name")
    for i in range(0,9):
        periodss.append(period[i].text)
    #periodss
    
    shrt_desc=data8.find_all(class_="short-desc")
    for i in range(0,9):
        shrt_descs.append(shrt_desc[i].text)
    #shrt_descs
    
    temp_low=data8.find_all(class_="temp temp-low")
    #print(temp_low)
    temp_high=data8.find_all(class_="temp temp-high")
    #temp_high
    
    for i in range(0,4):
        temp_low_.append(temp_low[i].text)
    #temp_low_
    
    for i in range(0,5):
        temp_high_.append(temp_high[i].text)
    #temp_high_
    temps = [None]*(len(temp_high_)+len(temp_low_))
    temps[::2] = temp_high_
    temps[1::2] = temp_low_
    #temps
    
    detailed_forecast_period=data8.find_all(class_="col-sm-2 forecast-label")
    for i in range (len(detailed_forecast_period)):
        detailed_forecast_periods.append(detailed_forecast_period[i].text)
    #detailed_forecast_periods
    
    
    detailed_forecast_descrip=data8.find_all(class_="col-sm-10 forecast-text")
    #detailed_forecast_descrip
    for i in range (len(detailed_forecast_descrip)):
        detailed_forecast_descrips.append(detailed_forecast_descrip[i].text)
        
    #detailed_forecast_descrips
    
    print("Periods on the page are as -> \n")
    print(periodss)
    print("-----------------------------------------------------\n")
    print("Short Descriptions are as -> \n")
    print(shrt_descs)
    print("-----------------------------------------------------\n")
    print("Temperatures are as -> \n")
    print(temps)
    print("-----------------------------------------------------\n")
    print("Detailed Forecasts are as -> \n")
    #print(detailed_forecast_descrips)
    for i in range(len(detailed_forecast_periods)):
        print(detailed_forecast_periods[i])
        print(detailed_forecast_descrips[i])
        print("-----------------------------------------\n")

In [37]:
forecast("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YF2iKq8zZhE")

Periods on the page are as ->

['Today', 'Tonight', 'Saturday', 'SaturdayNight', 'Sunday', 'SundayNight', 'Monday', 'MondayNight', 'Tuesday']
-----------------------------------------------------

Short Descriptions are as ->

['Sunny', 'Mostly Clear', 'Sunny', 'Mostly Clear', 'Sunny', 'Mostly Clear', 'Sunny', 'Clear', 'Sunny']
-----------------------------------------------------

Temperatures are as ->

['High: 72 °F', 'Low: 47 °F', 'High: 74 °F', 'Low: 48 °F', 'High: 71 °F', 'Low: 48 °F', 'High: 65 °F', 'Low: 48 °F', 'High: 71 °F']
-----------------------------------------------------

Detailed Forecasts are as ->

Today
Sunny, with a high near 72. North wind 7 to 10 mph becoming west northwest in the afternoon.
-----------------------------------------

Tonight
Mostly clear, with a low around 47. West northwest wind 5 to 7 mph becoming calm  in the evening.
-----------------------------------------

Saturday
Sunny, with a high near 74. Calm wind becoming west around 6 mph in the afternoon.
-----------------------------------------

Saturday Night
Mostly clear, with a low around 48. West wind 5 to 9 mph becoming light west southwest  after midnight.
-----------------------------------------

Sunday
Sunny, with a high near 71. Light west wind increasing to 6 to 11 mph in the afternoon.
-----------------------------------------

Sunday Night
Mostly clear, with a low around 48.
-----------------------------------------

Monday
Sunny, with a high near 65.
-----------------------------------------

Monday Night
Clear, with a low around 48.
-----------------------------------------

Tuesday
Sunny, with a high near 71.
-----------------------------------------

Tuesday Night
Clear, with a low around 50.
-----------------------------------------

Wednesday
Sunny, with a high near 74.
-----------------------------------------

Wednesday Night
Clear, with a low around 50.
-----------------------------------------

Thursday
Sunny, with a high near 73.
-----------------------------------------